.header {
    background: #db4437;
    font-family: 'Roboto';
    font-size: 2em;
    color: white;
    padding: 15px;
    margin-bottom: 1em;
}

a {
    text-decoration: none !important;
    width: 100%;
}

 .list {
    list-style: none;
}


footer {
    background: #db4437;
}

.filterText {
    text-align: center;
    padding-top: 10px;
}

.filterText .input-text {
    width: 75%;
    border-radius: 0px;
    box-shadow: none;
    padding: 4px 4px 4px 5px;
    border: 1px solid rgb(237, 239, 240);
    outline: none;
    margin-bottom: 0px;
    padding-left: 15px;
}

.page-footer .finance-reminders {
    font-size: 13px;
}

.page-footer .finance-reminders li {
    padding-bottom: 15px;
}

.material-icons {
    font-size: 4em;   
}
/* ------------------- Card Styles ----------------------- */

.list-cards {
    overflow: auto;
}


.list-cards .md-dark-grey-theme {
    width: 45%;
    margin: 2.5%;
    float: left;
    height: min-height: 200px;
}

.list-cards .md-dark-grey-theme button {
    background: #eeeeee;
    color: #444 !important;
}

.card-title {
    font-family: 'Roboto';
}

/* -------------------- Useful Info Cards ------------------ */
.content-header {
    padding-left: 25px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.57);
    font-family: 'Comfortaa';
    border-bottom: 2px solid #bcbcbc;
    margin-top: 1em;
}

.usefulInfoList {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}
.usefulInfoList .item {
    float: left;
    height: 200px;
    width: 50%;
    background: #f9f9f9;
    color: grey;
}

.usefulInfoList .item p {
    padding-left: 10px;
    padding-right: 10px;
}
.usefulInfoList .item:hover {
    cursor: pointer;
    background: white;
    color: #212121;
}

.phone-details {
    text-align: center;
    font-size: 14px;
    
}

.user-panel {
    color: white;
    font-family: 'Comfortaa';
    font-size: 22px;
}

.user-title {
    color: #f9f9f9;
    font-size: 12px;
    text-align: center;
}

.user-name {
    color: white;
    font-family: 'Comfortaa';
    font-size: 22px;
}






/* -------------------Account Panel Styling-------------------------- */
.acc-panel {
    font-family: 'Roboto';
    color: grey;
    background: white;
}

.acc-panel .title {
    font-family: 'Comfortaa';
    background: red;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.acc-panel .section-title {
    color: #4db94d;
    font-size: 20px;
    background: #efefef;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.acc-panel .account {
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #f1efef;
    outline: none !important;
}


.acc-panel .account:hover {
    background: #29b6f6 !important;
    cursor: pointer;
    color: white;
}

.acc-panel .account.active {
    background: #29b6f6 !important;
    color: white;
}

.acc-panel .account.paid {
    background: #33ac71 !important;
    color: white;
}

.acc-panel .db-details {
    background: white;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding-left: 25px;
}

.acc-panel .db-details div {
    padding-bottom: 5px;
}

.acc-panel .title {
    font-size: 14px;
}



.overview .title {
    padding: 0 15px 0 15px;
    border-left: 1px solid #9F6F6F;
    background: none;
    color: grey;
    padding-right: 5px;
}

.overview .title:first-child {
    border-left: none;
}

.overview label {
    font-size: 12px;
    font-weight: normal;
    padding-right: 10px;
}

.overview {
    text-align: center;
    padding-top: 1em;
}


/* ----------- Tight Box List Styling (Bank Account Information Section) --------- */
.tight-box-list {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
}
.tight-box-list .box {
    float:left;
    margin: 1px;
    background:#f9f9f9;
    text-align:center;
    height: 200px;
    padding: 10px;
    width: 49%;
}

.tight-box-list .box:hover {
    background: #fbfbfb;
    cursor: pointer;
}

.tight-box-list .box-title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Comfortaa';
    color: grey;
}

.tight-box-list p {
    font-size: 12px;
}

.bank-acc-modal .main-title {
    background: #ee6e73;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: 'Comfortaa';
    font-size: 1.5em;
    text-align: center;
}


.tight-box-list .material-icons {
   color: grey;
}

/* ------------------- Bank Acc Modal Details -------------------------- */


#bankAcc-details {
    background-color: white;
    border-radius: 4px;
	cursor: default;
    
}

#bankAcc-details .bankAcc-header {
    padding: 10px;
}


#bankAcc-details .heading {
    border-bottom: 1px solid #E2E5E6;
    padding-bottom: .5em;
    font-size: 2em;
    
}

#bankAcc-details .heading .title {
	font-size: 1.2em;
    color: #79C9EF;
}


#bankAcc-details #bankAc-description {
    margin-top: 10px;
	padding-left: 4em;  
}


.details-header {
	font-size: 22px;
    color: #455A64;
    padding-left: 2em;
}

#details-content .content-row {
    border-bottom: 1px solid #A3CBDE;
    background: rgba(213, 233, 243, 0.45);
    padding: 10px;
    font-size: 16px;
    padding-left: 3em;
    color: #15A4E8;
    cursor: pointer;
    text-align: center;
	
}

#details-content  .row-content {
	font-weight: bold;
	color: #0F89C3;
}

#details-content  .content-row:hover {
	background: #03a9f4;
    color: white;
}

#details-content .content-row:hover .material-icons {
    color: white;
}

#bankAcc-description .notes {
    font-size: 16px;
    text-align: center;
}

#bankAcc-description .notes .title {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 5px;
    color: grey;
}

.card-details {
    padding: 20px;
    margin-top: 10px;
}

.card-details div:hover {
    background: #eeeeee;
}

.card-details div {
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.card-details .title {
    font-family: 'Comfortaa';
    padding-right: 10px;
    font-weight: bold;
}

.meta-card-details {
    float: right;
    padding: 15px;
    margin-bottom: 1em;
    font-size: 18PX;
    padding-bottom: 25px;
}

/* ------------- Fab Button ------------ */

.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed !important;
}

.fab-chevron {
    color: white;
    position: relative;
    right: 6px;
}
