<html ng-app = 'app' style="background: #eee;">
   <head>
      <title>Billing Accounts</title>
      <!-- Materalize Libraries -->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css">
       
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
       
      <!-- Angular Materials CSS Library -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">
       
      <!-- Font Awesome Library -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
       
      <!-- App Styling -->
      <link rel="stylesheet" href="css/app.css">
       
   </head>
    
    
   <body style="background: #eee;">
      <div ng-controller = 'homeController' style="background: #eee">
      <div  class='header' in-view="showFab = !$inview">Billing Resources (November)</div>
      <!--  ************************* Loading Panel ****************************** 
         <div class="preloader-wrapper big active" ng-show="loading">
           <div class="spinner-layer spinner-blue-only">
             <div class="circle-clipper left">
               <div class="circle"></div>
             </div><div class="gap-patch">
               <div class="circle"></div>
             </div><div class="circle-clipper right">
               <div class="circle"></div>
             </div>
           </div>
         </div>
         ******************************************************************************** -->
          
      <!-- ********* Main Page Content ****** -->
      <div ng-hide="loading">
         <!-- *********1st Month******** -->
         <div class="content-header">First Half of Month</div>
         <div style="overflow: auto;">
            <div class="list-cards" ng-repeat="bill in bills1" style="display: inline; ">
               <md-card class="md-dark-grey-theme" md-theme-watch>
                  <md-card-title style="background: #03a9f4; color: white;">
                     <md-card-title-text>
                        <span class="md-headline card-title">{{bill.name}}</span>
                     </md-card-title-text>
                     <i style="float:right; font-size: 18px;"; class="fa fa-info-circle" aria-hidden="true">
                        <md-tooltip  md-direction="left">{{bill.info}}</md-tooltip>
                     </i>
                  </md-card-title>
                  <div class="acc-panel">
                     <div ng-repeat="acc in bill.accounts">
                        <div ng-init ="showMe = false" ng-click="showMe = !showMe" class="account" ng-class="{'active' : showMe, 'paid': acc.paid}" style="background: #f9f9f9; "><b>{{acc.name}}</b></div>
                        <div ng-show="showMe" class="test">
                           <div class="row overview db-details">
                              <span class="title">Username: </span> <label class="ng-binding">{{acc.userName}}</label>
                              <span class="title">Password: </span> <label class="ng-binding">{{acc.password}}</label>
                              <span class="title">Amount: </span>  <span style="color: green">$</span> <label class="ng-binding"> {{acc.amount}}</label>
                           </div>
                           <md-card-actions layout="row" layout-align="end center">
                              <md-button style="width: 100%; background: #eeeeee; height: 25px;"><a ng-href="{{acc.url}}" style="width: 100%; display: block;">Go</a></md-button>
                           </md-card-actions>
                        </div>
                     </div>
                  </div>
               </md-card>
            </div>
         </div>
          
         <!-- *****2nd Part of Month***** -->
         <div class="content-header">Second Half of Month</div>
         <div style="overflow: auto;">
            <div class="list-cards" ng-repeat="bill in bills2" style="display: inline; ">
               <md-card class="md-dark-grey-theme" md-theme-watch>
                  <md-card-title style="background: #03a9f4; color: white;">
                     <md-card-title-text>
                        <span class="md-headline card-title">{{bill.name}}</span>
                     </md-card-title-text>
                     <i style="float:right; font-size: 18px;"; class="fa fa-info-circle" aria-hidden="true">
                        <md-tooltip  md-direction="left">{{bill.info}}</md-tooltip>
                     </i>
                  </md-card-title>
                  <div class="acc-panel">
                     <div ng-repeat="acc in bill.accounts">
                        <div ng-init ="showMe = false" ng-click="showMe = !showMe" class="account" ng-class="{'active' : showMe, 'paid': acc.paid}" style="background: #f9f9f9; "><b>{{acc.name}}</b></div>
                        <div ng-show="showMe" class="test">
                           <div class="row overview">
                              <span class="title">Username: </span> <label class="ng-binding">{{acc.userName}}</label>
                              <span class="title">Password: </span> <label class="ng-binding">{{acc.password}}</label>
                              <span class="title">Amount: </span> <span style="color: green">$</span> <label class="ng-binding">{{acc.amount}}</label>
                           </div>
                           <md-card-actions layout="row" layout-align="end center">
                              <md-button style="width: 100%; background: #eeeeee;"><a ng-href="{{acc.url}}" style="width: 100%; display: block;">Go</a></md-button>
                           </md-card-actions>
                        </div>
                     </div>
                  </div>
               </md-card>
            </div>
         </div>
          
         <!-- *************** Account Information ******************** -->
         <div class="content-header">Account Information</div>
         <div style="overflow:auto;">
            <div class="tight-box-list" ng-repeat="acc in bankAccounts">
               <div class="box modal-trigger" ng-click="setAccount(acc)" href="#bankModal" >
                  <div >
                     <i class="material-icons">perm_identity</i>
                     <div class="box-title">{{acc.displayName}}</div>
                     <p>{{acc.description}}</p>
                  </div>
               </div>
            </div>
         </div>
          
         <!-- Bank Information Modal -->
         <div id="bankModal" class="modal">
            <div class="bank-acc-modal">
               <div class="main-title">{{bankAcc.displayName}}</div>
               <div id="bankAcc-details">
                  <div class="bankAcc-header">
                     <div id="bankAcc-description">
                        <div class="notes">
                           <span class="title">Username:</span> <span style="padding-right: 15px;">{{bankAcc.userName}}</span>
                           <span class="title">Password:</span><span> {{bankAcc.password}}</span>
                        </div>
                     </div>
                  </div>
                  <ul id ="details-content" class="collapsible" data-collapsible="accordion">
                     <li ng-show="bankAcc.debitCard">
                        <div class="collapsible-header content-row"  ><i class="material-icons">credit_card</i>Debit Card</div>
                        <div class="collapsible-body" >
                           <div style="padding-bottom: 20px;">
                              <span class="meta-card-details">{{bankAcc.debitCard.cardType | uppercase}}, {{bankAcc.debitCard.exp}}</span>
                           </div>
                           <div class="card-details">
                              <div ngclipboard data-clipboard-text="{{bankAcc.debitCard.name}}">
                                 <span class="title">Name:</span>
                                 <span style="padding-right: 15px;">{{bankAcc.debitCard.name}}</span>
                              </div>
                              <div ngclipboard data-clipboard-text="{{bankAcc.debitCard.number}}">
                                 <span class="title">Number:</span>
                                 <span> {{bankAcc.debitCard.number}}</span>
                              </div>
                              <div ngclipboard data-clipboard-text="{{bankAcc.debitCard.cvv}}">
                                 <span class="title">CVV:</span>
                                 <span> {{bankAcc.debitCard.cvv}}</span>
                              </div>
                           </div>
                     </li>
                     <li ng-show="bankAcc.creditCard">
                         <div class="collapsible-header content-row"  >
                            <i class="material-icons">credit_card</i>Credit Card
                         </div>
                         <div class="collapsible-body" >                               
                             <div style="padding-bottom: 20px;">
                                <span class="meta-card-details">{{bankAcc.creditCard.cardType | uppercase}}, {{bankAcc.creditCard.exp}}</span>
                             </div>
                             <div class="card-details">
                                 <div ngclipboard data-clipboard-text="{{bankAcc.creditCard.name}}">
                                     <span class="title">Name:</span>
                                     <span style="padding-right: 15px;">{{bankAcc.creditCard.name}}</span>
                                 </div>
                                 <div ngclipboard data-clipboard-text="{{bankAcc.creditCard.number}}">
                                     <span class="title">Number:</span>
                                     <span> {{bankAcc.creditCard.number}}</span>
                                 </div>
                                 <div ngclipboard data-clipboard-text="{{bankAcc.creditCard.cvv}}">
                                     <span class="title">CVV:</span>
                                     <span> {{bankAcc.creditCard.cvv}}</span>
                                 </div>
                             </div>
                         </div>
                     </li>
                         <li ng-show="bankAcc.checkInfo">
                            <div class="collapsible-header content-row"><i class="material-icons">info</i>Checking Info</div>
                             <div class="collapsible-body">
                                 <div class="card-details">
                                     <div ngclipboard data-clipboard-text="{{bankAcc.checkInfo.routingNumber}}">
                                         <span class="title">Routing Number:</span>
                                         <span style="padding-right: 15px;">{{bankAcc.checkInfo.routingNumber}}</span>
                                     </div>
                                     <div ngclipboard data-clipboard-text="{{bankAcc.checkInfo.accountNumber}}">
                                         <span class="title">Account Number:</span>
                                         <span> {{bankAcc.checkInfo.accountNumber}}</span>
                                     </div>
                                 </div>                            
                             </div>
                        </li>
                    </ul>
                  </div>
               </div>
            </div>
          
            <!-- Modal for going back up the Page -->
            <md-fab-speed-dial class="md-fab-bottom-right" md-open="true" ng-show="showFab">
               <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-warn" style="background: #db4437;" ng-click="goUp()">
                     <i class="material-icons fab-chevron">expand_less</i>
                  </md-button>
               </md-fab-trigger>
            </md-fab-speed-dial>
          
            <!-- **************** Footer ***************** -->
            <footer class="page-footer">
               <div class="container">
                  <div class="row">
                     <div class="col l6 s12">
                        <h5 class="white-text">Account Reminders</h5>
                        <div class="grey-text text-lighten-4">
                           <ul class="finance-reminders">
                              <li>Fun Money will be withdrawn from the <b>CACU</b> at the start of each half Month.</li>
                              <li><b>CACU</b> will be used for monthly expenses. </li>
                              <li>Before the start of each half month deposit remaining expense budget into the appropriate savings account.</li>
                              <li>The Academy account will <b style="color: #e3f403">NOT BE TOUCHED.</b> It is to be used <b>only</b> to pay reoccuring bills and debt.</li>
                           </ul>
                        </div>
                     </div>
                     <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Budgeting Distribution</h5>
                        <ul>
                           <li><a class="grey-text text-lighten-3">
                               Fun Money: 
                                <b>${{firstHalfBudget.funMoney | number: 2}} | ${{secondHalfBudget.funMoney | number: 2}}</b>
                               </a>
                            </li>
                           <li>
                               <a class="grey-text text-lighten-3">
                                   Expense Allowance: 
                                   <b>${{firstHalfBudget.expenseAllowence | number: 2}} | ${{secondHalfBudget.expenseAllowence | number: 2 }}</b>
                               </a>
                            </li>
                           <li>
                               <a class="grey-text text-lighten-3">
                                   Savings: 
                                   <span>${{firstHalfBudget.savings | number: 2}}</span> | <span>${{secondHalfBudget.savings | number: 2}}  </span>
                               </a>
                            </li>
                           <li>
                               <a class="grey-text text-lighten-3">
                                   Debt: 
                                   <b> ${{firstHalfBudget.debt | number: 2}} | ${{secondHalfBudget.debt | number: 2}} </b></a>
                            </li>
                           <li>
                               <a class="grey-text text-lighten-3">
                                   Reoccuring Bills: 
                                   <b>${{firstHalfBudget.reoccuringBills | number: 2}} | ${{secondHalfBudget.reoccuringBills | number: 2}}</b>
                               </a>
                            </li>
                            <li>
                               <a class="grey-text text-lighten-3">
                                   Total Bills: 
                                   <b>${{firstHalfBudget.totalExpenses | number: 2}} | ${{secondHalfBudget.totalExpenses | number: 2}}</b>
                               </a>
                            </li>                           
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="footer-copyright">
                  <div class="container">
                  </div>
               </div>
            </footer>
         </div>
      </div>

       
      <!-- Jquery script -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
       
      <!-- Angular Material and Angular.js Libraries -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
       
      <!-- In-view Angular Library -->
      <script src="lib/angular-inview/angular-inview.js"></script>
       
      <!-- Angular Materialis and Materalize Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
       
      <!-- Angular clipboard Library -->
      <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
      <script src="lib/ngclipboard.min.js"></script>
       
      <!-- ***** App Resources ***** -->
      <script src="app.js"></script>
      <script src="js/services/BillService.js"></script>
      <script src="js/services/BankAccountService.js"></script>
      <script src="js/controllers/HomeController.js"></script>
   </body>
</html>